
  *{
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-weight: 300;
  box-sizing: border-box;
  border: 1px solid red;
  }

  h1 a, h4 a {
  color: #F9D483;
  }

  nav a, h3 {
    color: #D2D2D2;
  }

  h4 a {
    font-weight: 700;
  }

  body {
    margin: 50px;
  }

  nav a {
    margin-right: 20px;
    text-underline-position: 10px;
  }

 p {
    text-align: justify;
    padding: right 40px;
    margin-right: 50px
  }

  section {
    float: left;
    width: 60%;
    border: 5px red;
  }

  img {
    display:block;
    max-width: 100%;
    margin: 10px 0;
  }

  aside {
    float: left;
    width: 30%;
  }

  h4 {
    text-align: right;
  }