/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
  border: 1px solid red;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}


/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS for your reference:
    (refer to styleguide.jpg for hex codes or use Sip to pick colors from design)

    White - #ffffff;
    Light Grey -#D4E1DB
    Dark Grey -#3C3A3A
    Grey/Black(text color) -#080808
    Yellow -#FEDBOD
    Red -#FFO121
*/


/* Global
   ================================================================ */
body {
  font-family: 'Merriweather', serif;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
}

.background {
  background-color: #D4E1DB;
}

.outerbox {
  width: 20%;
  background-color: white;
}

a, .button, footer p {
  color: #ffffff;
}

footer p, header {
  background-color: #3C3A3A;
}

ul a, p, footer {
  font-size: 20px;
}

.banner h2, .info h3 {
  font-size: 25px;
}

.burb, .info h3, p {
  line-height: 1.5;
}

header li, .banner {
  display: inline-block;
}

.tagline, .button {
  text-align: center;
}

header li {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.tagline {
  font-style: italic;
}

.banner {
  height: 400px;
  background-image: url(../images/coworking.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.blurb {
  background-color: rgba(255,255,255,.5);
  padding: 30px;
}

.info {
  width: 33.333%;
  float: left;
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.info h3, p {
  font-family: oswald;
}

/* Layout (columns, floats, etc.)
   ================================================================ */
header h1 {
  float: left;
  margin-top: 0px;
  font-size: 30px;
}

header a, .button, .info .button {
  text-decoration: none;
}

a:hover {
    background-color: #D4E1DB;
}

.info a:hover {
    background-color: #FF0121;
}

ul {
  text-align: right;
  margin-top: 10px;
}

.blurb {
  width: 40%;
  margin-top: 40px;
  float: right;
  margin-right: 10px;
  height: 80%;
}

.button {
  background-color: #FF0121; 
  display: block;
  height: 50px;
  padding-top: 10px;
}

.info .button {
  color: #080808; 
  background-color: #D4E1DB;
  padding-top: 13px;
  margin-bottom: 15x;
  margin-top: 40px;
}


/* Header
   ================================================================ */

header {
  padding-top: 15px;
  height: 75px;
  padding-left: 10px;
}



/* Footer
   ================================================================ */
footer {
  clear:both;
  padding-top: 30px;
}

footer p {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-family: source sans pro;
}

/* Navigation
   ================================================================ */



/* Buttons
   ================================================================ */